@{
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
    ViewBag.Title = "订单详情";
}

@using Webdiyer.WebControls.Mvc;
@using HWYZ.Models;
@using HWYZ.Context;
@model PagedList<OrderItem>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">订单号</span>
                    <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.OrderCode" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">采购单位</span>
                    <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.StoreName"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">备注</span>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">快递单号</span>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">快递查询网址</span>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#dlg_edit">添加</button>
                    </div>
                    <div class="panel-body" id="container">
                        @Html.Partial("List", Model)
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">负责人</span>
                    <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.Creator" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">联系电话</span>
                    <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.Tel"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">下单时间</span>
                    <input type="text" class="form-control" readonly="readonly" placeholder="以提交时间为准" />
                </div>
            </div>
        </div>
        <div class="modal fade" id="dlg_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        </div>
    </div>
</div>

@{Html.RegisterMvcPagerScriptResource();}
@Scripts.Render("~/Scripts/Page/order.js")
@Styles.Render("~/Scripts/select2/select2.css")
@Scripts.Render("~/Scripts/select2/select2.min.js")
@Scripts.Render("~/Scripts/select.js")