@using Webdiyer.WebControls.Mvc;
@using HWYZ.Models;
@using HWYZ.Context;
@model PagedList<Order>
@Styles.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.min.css")
@Styles.Render("~/Scripts/select2/select2.css")

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel panel panel-default">
            <div class="panel-body">
                @using (Ajax.BeginForm("Index", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "container", InsertionMode = InsertionMode.Replace }, new { @id = "form_query" }))
                { 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">订单编号</span>
                                <input type="text" class="form-control" name="OrderCode" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group date form_date" data-date="" data-date-format="yyyy/mm/dd">
                                <span class="input-group-addon">下单时间起</span>
                                <input class="form-control" size="16" name="StartDate" type="text" value="" readonly="readonly">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group date form_date" data-date="" data-date-format="yyyy/mm/dd">
                                <span class="input-group-addon">下单时间止</span>
                                <input class="form-control" size="16" name="EndDate" type="text" value="" readonly="readonly">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        @if (UserContext.store == null)
                        {
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">采购单位</span>
                                    <input type="hidden" data-select="s" class="_select" style="width: 100%;" name="StoreId" />
                                </div>
                            </div>
                        }
                    </div>
                }
                <div class="row" style="margin: 15px 0 15px 0;">
                    <a class="btn btn-info query" style="float: right;" href="javascript:void(0)">查询</a>
                </div>
                <section id="unseen">
                    <div id="container">
                        @Html.Partial("List", Model)
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@{Html.RegisterMvcPagerScriptResource();}
@Scripts.Render("~/Scripts/select2/select2.min.js")
@Scripts.Render("~/Scripts/select.js")
@Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.min.js")
@Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.zh-CN.js")
<script type="text/javascript">
    $(function () {
        $("._select").select_2();

        $('.form_date').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        var date = new Date();
        var start = date.getFullYear() + "/" + (date.getMonth() + 1) + "/01";
        var end = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();

        $("input[name=StartDate]").val(start);
        $("input[name=EndDate]").val(end);

        $(".query").click(function () {
            $("#form_query").submit();
        });
    });
</script>
