@using Webdiyer.WebControls.Mvc;
@using HWYZ.Models;
@using HWYZ.Context;
@model PagedList<Order>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <td>订单号</td>
                @if (UserContext.store == null)
                { 
                    <td>采购单位</td>
                }
                <td>负责人</td>
                <td>联系电话</td>
                <td>下单时间</td>
                <td>订单金额</td>
                <td>订单状态</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Order item in Model)
                {
                <tr>
                    <td>@item.OrderCode</td>
                    @if (UserContext.store == null)
                    { 
                        <td>@item.StoreName</td>
                    }
                    <td>@item.Creator</td>
                    <td>@item.Tel</td>
                    @if (@item.Status == OrderStatus.BeforeSubmit)
                    {
                        <td>尚未提交</td>
                    }
                    else
                    {
                        <td>@item.SubmitTime</td>
                    }
                    <td>@item.Paid</td>
                    @switch (@item.Status)
                    {
                        case OrderStatus.BeforeSubmit:<td><span class="label label-warning label-mini">待提交</span></td>; break;
                        case OrderStatus.BeforeSend:<td><span class="label label-info label-mini">待发货</span></td>; break;
                        case OrderStatus.Sended:<td><span class="label label-warning label-mini">已发货</span></td>; break;
                        case OrderStatus.Checked:<td><span class="label label-success label-mini">已对账</span></td>; break;
                        case OrderStatus.Reject:<td><span class="label label-danger label-mini">驳回</span></td>; break;
                    }
                    <td data-id="@item.ID">
                        @if (@item.Status == OrderStatus.BeforeSubmit)
                        {
                            <a href="OrderEdit?orderId=@item.ID" target="_blank" class="btn btn-primary btn-xs editOrder"><i class="fa fa-pencil"></i></a>
                            <button class="btn btn-danger btn-xs delOrder"><i class="fa fa-trash-o "></i></button>
                        }
                        else
                        {
                            <a href="OrderView?orderId=@item.ID" target="_blank" class="btn btn-success btn-xs"><i class="fa fa-eye"></i></a>
                        }
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

@if (Model != null && Model.TotalPageCount > 1)
{
    <div style="height: 80px">
        <div style="float: left;">
            @Ajax.Pager(Model, new PagerOptions
       {
           CssClass = "pagination",
           ContainerTagName = "ul",
           PageIndexParameterName = "pi",
           CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
           DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
           PagerItemTemplate = "<li>{0}</li>",
           PageIndexBoxId = "pageIndexBox",
           GoToButtonId = "goToBtn"
       }, new MvcAjaxOptions { UpdateTargetId = "unseen", HttpMethod = "Post", DataFormId = "form_query" })
        </div>
        <div class="input-group" style="width: 260px;">
            <div class="input-group" style="margin: 20px;">
                <span class="input-group-addon">转到第</span>
                <input type="text" id="pageIndexBox" class="form-control input-sm" />
                <span class="input-group-addon">页</span>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm" id="goToBtn">跳转</button></span>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        $(".delOrder").click(function () {
            if (!confirm("您确定要删除此订单？")) { return false; }

            var _this = $(this);

            $.post("order/delOrder", { orderId: _this.parent().data('id') }, function (r) {
                alert(r.msg);

                if (r.code < 0) {
                    return false;
                }

                $("#form_query").submit();
            });
        });
    });
</script>
