@using Webdiyer.WebControls.Mvc;
@using HWYZ.Models;
@model PagedList<OrderItem>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td>商品编码</td>
                <td>商品名称</td>
                <td>发货数量</td>
                <td>单价</td>
                <td>折扣</td>
                <td>金额</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (OrderItem item in Model)
                {
                <tr>
                    <td>@item.ProductCode</td>
                    <td>@item.ProductName</td>
                    <td>@item.OrderNumber</td>
                    <td>@item.Price</td>
                    <td>@item.Discount</td>
                    @{var pay = @item.Price * @item.OrderNumber * @item.Discount;}
                    <td>@pay</td>
                    <td data-id="@item.ID">
                        <a href="javascript:void(0)" class="editItem" data-toggle="modal" data-target="#dlg_edit">编辑</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="text-right" style="padding: 10px 15px;">
    @if (Model != null && Model.Count > 0)
    {
        @Ajax.Pager(Model, new PagerOptions { CssClass = "table-page", PageIndexParameterName = "pi", CurrentPagerItemWrapperFormatString = "<span class=\"active\">{0}</span>", NumericPagerItemWrapperFormatString = "<span>{0}</span>", FirstPageText = "首页&nbsp;&nbsp;", PrevPageText = "前一页", NextPageText = "下一页", LastPageText = "&nbsp;&nbsp;尾页" }, new MvcAjaxOptions { UpdateTargetId = "container", HttpMethod = "Post", DataFormId = "form_query" })
    }
</div>
<script type="text/javascript">
    $(function () {
        $(".delItem").click(function () {
            if (!confirm("您确定要删除此商品？")) { return false; }

            var _this = $(this);

            $.post("orderedit/delItem", { itemId: _this.parent().data('id') }, function (r) {
                alert(r.msg);

                if (r.code < 0) {
                    return false;
                }

                $("#form_query").submit();
            });
        });
    });
</script>
