<style>
    .webuploader-container div:first-child { width: 86px; height: 40px; }
</style>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">添加商品</h4>
        </div>
        <div class="modal-body">
            <form id="form_edit" action="productset/editProduct" method="post">
                <input type="hidden" name="ID" value="@ViewBag.product.ID" />
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">商品编号</span>
                        <input type="text" class="form-control" name="ProductCode"  value="@ViewBag.product.ProductCode"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">商品名称</span>
                        <input type="text" class="form-control" name="ProductName"  value="@ViewBag.product.ProductName"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">条形码</span>
                        <input type="text" class="form-control" name="BarCode"  value="@ViewBag.product.BarCode"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">价格</span>
                        <input type="text" class="form-control" name="Price"  value="@ViewBag.product.Price"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">允许退换货</span>
                        <select class="form-control" name="AllowReturn">
                            <option value="True">允许</option>
                            <option value="False">不允许</option>
                        </select>
                        <input type="hidden" id="AllowReturn" value="@ViewBag.product.AllowReturn.ToString()"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">状态</span>
                        <select name="Status" class="form-control">
                            <option value="enable">在市</option>
                            <option value="disable">停市</option>
                        </select>
                        <input type="hidden" id="Status" value="@ViewBag.product.Status"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">备注</span>
                        <input type="text" class="form-control" name="Remark"  value="@ViewBag.product.Remark"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">图片</span>
                    </div>
                </div>
                <div class="form-group" style="text-align: center;">
                    @if (string.IsNullOrEmpty(@ViewBag.product.DocId))
                    {
                        <img src="~/Images/nopic.jpg" width="180" height="320" alt="美食" id="viewpic" class="img-thumbnail" />
                    }
                    else
                    {
                        <img src="/image/getInitial?docId=@ViewBag.product.DocId" width="180" height="320" alt="美食" id="viewpic" class="img-thumbnail" />
                    }
                    <input type="hidden" name="DocId" id="DocId"  value="@ViewBag.product.DocId"/>
                </div>
                <div id="filePicker" style="margin-left: 42%">选择文件</div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary save">保存</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>
