@using Webdiyer.WebControls.Mvc;
@using HWYZ.Models;
@using HWYZ.Context;
@model PagedList<Product>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td>产品名称</td>
                <td>产品编号</td>
                <td>价格</td>
                <td>允许退换</td>
                <td>状态</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Product item in Model)
                {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductCode</td>
                    <td>@item.Price</td>
                    @if (@item.AllowReturn)
                    {
                        <td>允许</td>
                    }
                    else
                    {
                        <td>不允许</td>
                    }
                    @if (@item.Status == Status.enable)
                    {
                        <td>在市</td>
                    }
                    else
                    {
                        <td>停市</td>
                    }
                    <td data-id="@item.ID">
                        @if (UserContext.user.StoreId == @item.StoreId)
                        {
                            <a href="javascript:void(0)" class="editProduct" data-toggle="modal" data-target="#dlg_edit">编辑</a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" class="viewProduct" data-toggle="modal" data-target="#dlg_view">查看</a>
                        }
                        |
                        <a href="javascript:void(0)" class="delProduct">删除</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="text-right" style="padding: 10px 15px;">
    @if (Model != null && Model.Count > 0)
    {
        @Ajax.Pager(Model, new PagerOptions { CssClass = "table-page", PageIndexParameterName = "pi", CurrentPagerItemWrapperFormatString = "<span class=\"active\">{0}</span>", NumericPagerItemWrapperFormatString = "<span>{0}</span>", FirstPageText = "首页&nbsp;&nbsp;", PrevPageText = "前一页", NextPageText = "下一页", LastPageText = "&nbsp;&nbsp;尾页" }, new MvcAjaxOptions { UpdateTargetId = "container", HttpMethod = "Post", DataFormId = "form_query" })
    }
</div>
<script type="text/javascript">
    $(function () {
        $(".delProduct").click(function () {
            if (!confirm("您确定要删除此商品？")) { return false; }

            var _this = $(this);

            $.post("productset/deleteProduct", { productId: _this.parent().data('id') }, function (r) {
                alert(r.msg);

                if (r.code < 0) {
                    return false;
                }

                $("#form_query").submit();
            });
        });
    });
</script>
