@using Webdiyer.WebControls.Mvc;
@using HWYZ.Models;
@using HWYZ.Context;
@model PagedList<Product>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <td>商品名称</td>
                <td>商品编号</td>
                <td>价格</td>
                @if (UserContext.store == null)
                {
                    <td>允许退换</td>
                }
                <td>状态</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Product item in Model)
                {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductCode</td>
                    <td>@item.Price 元</td>
                    @if (UserContext.store == null)
                    {
                        if (item.AllowReturn)
                        {
                        <td>允许</td>
                        }
                        else
                        {
                        <td>不允许</td>
                        }
                    }
                    @if (@item.Status == Status.enable)
                    {
                        <td><span class="label label-info label-mini">在市</span></td>
                    }
                    else
                    {
                        <td><span class="label label-danger label-mini">停市</span></td>
                    }
                    <td data-id="@item.ID">
                        @if ((UserContext.store == null && @item.StoreId == null) || (UserContext.store != null && UserContext.store.ID == @item.StoreId))
                        {
                            <button class="btn btn-primary btn-xs editProduct" data-toggle="modal" data-target="#dlg_edit"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger btn-xs delProduct"><i class="fa fa-trash-o "></i></button>
                        }
                        else
                        {
                            <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#dlg_view"><i class="fa fa-eye"></i></button>
                        }
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

@if (Model != null && Model.TotalPageCount > 1)
{
    <div style="height: 80px">
        <div style="float: left;">
            @Ajax.Pager(Model, new PagerOptions
       {
           CssClass = "pagination",
           ContainerTagName = "ul",
           PageIndexParameterName = "pi",
           CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
           DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
           PagerItemTemplate = "<li>{0}</li>",
           PageIndexBoxId = "pageIndexBox",
           GoToButtonId = "goToBtn"
       }, new MvcAjaxOptions { UpdateTargetId = "unseen", HttpMethod = "Post", DataFormId = "form_query" })
        </div>
        <div class="input-group" style="width: 260px;">
            <div class="input-group" style="margin: 20px;">
                <span class="input-group-addon">转到第</span>
                <input type="text" id="pageIndexBox" class="form-control input-sm" />
                <span class="input-group-addon">页</span>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm" id="goToBtn">跳转</button></span>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        $(".delProduct").click(function () {
            if (!confirm("您确定要删除此商品？")) { return false; }

            var _this = $(this);

            $.post("productset/deleteProduct", { productId: _this.parent().data('id') }, function (r) {
                alert(r.msg);

                if (r.code < 0) {
                    return false;
                }

                $("#form_query").submit();
            });
        });
    });
</script>
