@using Webdiyer.WebControls.Mvc;
@using HWYZ.Models;
@model PagedList<Store>

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel panel panel-default">
            <div class="panel-body">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-4">
                        @using (Ajax.BeginForm("Index", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "unseen", InsertionMode = InsertionMode.Replace }, new { @id = "form_query" }))
                        {
                            <div class="input-group">
                                <input type="text" class="form-control" name="key" placeholder="请输入门店名称或编号" aria-describedby="basic-addon2">
                                <span class="input-group-addon" style="cursor: pointer;" id="basic-addon2">查询</span>
                            </div>
                        }
                    </div>
                    <div class="col-md-7">
                        <button class="btn btn-info" type="button" style="float: right;" data-toggle="modal" data-target="#dlg_edit">添加</button>
                    </div>
                </div>
                <section id="unseen">
                    @Html.Partial("List", Model)
                </section>
                <div class="modal fade" id="dlg_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                </div>
                <div class="modal fade" id="dlg_map" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="jumbotron">
                        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3ulqLPebKpPEGLx5VEHYMGY6"></script>
                        <div id="allmap" style="height: 600px; width: 100%;"></div>
                        <script type="text/javascript">
                            // 百度地图API功能
                            var map = new BMap.Map("allmap");

                            var point = new BMap.Point(116.331398, 39.897445);

                            map.centerAndZoom(point, 13);

                            map.addEventListener("click", function (e) {
                                var check = checkDistance(e.point);

                                if (check && !confirm(check)) { return false; }

                                if (!confirm("确定在此开设分店？")) { return false; }

                                $("input[name=Lng]").val(e.point.lng);
                                $("input[name=Lat]").val(e.point.lat);

                                $("#dlg_map").modal("hide");
                            });
                            
                            function checkDistance(point) {
                                var list = map.stores;

                                if (list.length == 0) { return null; }

                                var distance, storeName, nearest;

                                for (var i = 0, length = list.length; i < length; i++) {
                                    distance = Number((map.getDistance(point, list[i][0])).toFixed(2));

                                    if (!nearest || (distance < nearest && distance > 0)) {
                                        nearest = distance;
                                        storeName = list[i][1];
                                    }
                                }

                                return "最近的分店是{0}，距离为：{1}米".format(storeName, nearest);
                            }
                        </script>
                    </div>
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{Html.RegisterMvcPagerScriptResource();}
@Scripts.Render("~/Scripts/Page/store.js")
@Styles.Render("~/Scripts/select2/select2.css")
@Scripts.Render("~/Scripts/select2/select2.min.js")
@Scripts.Render("~/Scripts/select.js")