@{
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
    ViewBag.Title = "订单详情";
}

@using Webdiyer.WebControls.Mvc;
@using HWYZ.Models;
@using HWYZ.Context;
@model PagedList<OrderItem>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">订单号</span>
                    <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.OrderCode" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">采购单位</span>
                    <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.StoreName" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">备注</span>
                    <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.Remark" />
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">订单状态</span>
                    @if (ViewBag.order.Status == OrderStatus.BeforeSend)
                    {
                        <input type="text" class="form-control" readonly="readonly" value="待发货" />
                    }
                    else if (ViewBag.order.Status == OrderStatus.Sended)
                    {
                        <input type="text" class="form-control" readonly="readonly" value="已发货" />
                    }
                    else
                    {
                        <input type="text" class="form-control" readonly="readonly" value="驳回" />
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">订单金额</span>
                    <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.Payable" />
                </div>
            </div>
            @if (ViewBag.order.Status == OrderStatus.Sended)
            {
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">实付金额</span>
                        <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.Paid" />
                    </div>
                </div>
            }
            else if (ViewBag.order.Status == OrderStatus.Reject)
            {
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">驳回原因</span>
                        <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.RejectReason" />
                    </div>
                </div>
            }
        </div>

        @if (ViewBag.order.Status == OrderStatus.Sended)
        {
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">快递单号</span>
                        <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.ExpressCode" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">快递查询地址</span>
                        <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.ExpressUrl" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">发货人姓名</span>
                        <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.DeliverName" />
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">发货人电话</span>
                        <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.DeliverTel" />
                    </div>
                </div>
            </div>
        }

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    @using (Ajax.BeginForm("Index", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "container", InsertionMode = InsertionMode.Replace }, new { @id = "form_query" }))
                    {
                        <input type="hidden" name="orderId" value="@ViewBag.order.ID" />
                        <div class="panel-body" id="container">
                            @Html.Partial("List", Model)
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">负责人</span>
                    <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.Creator" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">联系电话</span>
                    <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.Tel" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">下单时间</span>
                    <input type="text" class="form-control" readonly="readonly" value="@ViewBag.order.SubmitTime" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer noprint" style="text-align: right;">
        @if (@ViewBag.order.Status == OrderStatus.BeforeSend && @UserContext.store == null)
        {
            <div class="input-group" style="float: right; width: 25%; margin-left: 10px;">
                <span class="input-group-addon">驳回原因</span>
                <input type="text" class="form-control" name="reason" />
            </div>
            <button type="button" class="btn btn-default reject" style="float: right; margin-left: 10px;">驳回</button>
        }
        else if (@ViewBag.order.Status == OrderStatus.Sended && @UserContext.store != null)
        {
            <div class="input-group" style="float: right; width: 25%; margin-left: 10px;">
                <span class="input-group-addon">对账备注</span>
                <input type="text" class="form-control" name="checkremark" />
            </div>
            <button type="button" class="btn btn-default check" style="float: right; margin-left: 10px;">对账</button>
        }
        <button type="button" class="btn btn-default" onclick="javascript:window.print();">打印</button>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".reject").click(function () {
            var _orderId = $("input[name=orderId]").val(),
                _reason = $("input[name=reason]").val();

            if (!_reason) { alert("驳回原因必须填写"); return false; }

            if (!confirm("确认驳回？驳回后订单将不能再进行任何更改")) { return false; }

            $.post("orderview/rejectOrder", { orderId: _orderId, reason: _reason }, function (r) {
                alert(r.msg);

                if (r.code > 0) {
                    window.location.reload();
                }
            });
        });

        $(".check").click(function () {
            var _orderId = $("input[name=orderId]").val(),
                _checkremark = $("input[name=checkremark]").val();

            if (!confirm("确认对账？对账后订单将不能再进行任何更改")) { return false; }

            $.post("orderview/checkOrder", { orderId: _orderId, checkremark: _checkremark }, function (r) {
                alert(r.msg);

                if (r.code > 0) {
                    window.location.reload();
                }
            });
        });
    });
</script>
