<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>徽味驿站云平台</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/mainstyle.css")
    @Scripts.Render("~/bundles/jquery")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .jqstooltip { position: absolute; left: 0px; top: 0px; display: block; visibility: hidden; background: rgb(0, 0, 0) transparent; background-color: rgba(0,0,0,0.6); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; color: white; font: 10px arial, san serif; text-align: left; white-space: nowrap; border: 1px solid white; z-index: 10000; }
        .jqsfield { color: white; padding: 5px 5px 8px 5px; font: 10px arial, san serif; text-align: left; }
    </style>
</head>

<body ryt12721="1" style="zoom: 1;">

    <section id="icontainer">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg" style="background: #4E7DB5; border-bottom: 1px solid #153A6F;">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation" style="color: #fff;"></div>
            </div>
            <!--logo start-->
            <a href="/" class="logo">
                <img src="~/Images/logo.png" width="40" /><b>徽味驿站云平台</b></a>
            <!--logo end-->
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login/logoff">登出</a></li>
                </ul>
            </div>
            @if (UserContext.stores != null && UserContext.stores.Count > 0)
            {
                <div class="top-menu dropdown">
                    <ul class="nav pull-right top-menu">
                        <li>
                            <button class="logout btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                切换分店
    <span class="caret"></span>
                            </button>

                            <ul id="logChange" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                @foreach (Store item in UserContext.stores)
                                {
                                    <li><a href="#" data-id="@item.ID">@item.StoreName</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            }
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    @using HWYZ.Context;
                    @using HWYZ.Models;
                    @{int roleVal = Convert.ToInt32(UserContext.user.Role.RoleVal);}

                    @foreach (Menu menu in MenuContext.menus)
                    {
                        if ((menu.AuthVal & roleVal) > 0)
                        {
                            if (menu.SubMenu.Count == 0)
                            {
                        <li>
                            <a class="dcjq-parent" href="@menu.Url">
                                <i class="fa fa-@menu.Icon"></i>
                                <span>@menu.Title</span>
                            </a>
                        </li>
                            }
                            else
                            {
                        <li class="sub-menu dcjq-parent-li">
                            <a href="javascript:void(0);" class="dcjq-parent">
                                <i class="fa fa-@menu.Icon"></i>
                                <span>@menu.Title</span></a>
                            <ul class="sub" style="display: none;">
                                @foreach (Menu sub in @menu.SubMenu)
                                {
                                    if ((sub.AuthVal & roleVal) > 0)
                                    {
                                    <li>
                                        <a href="@sub.Url">
                                            <i class="fa fa-@sub.Icon"></i>
                                            <span>@sub.Title</span>
                                        </a>
                                    </li>
                                    }
                                }
                            </ul>
                        </li>
                            }
                        }
                    }
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                @DateTime.Now.Year - 徽味驿站版权所有
             
                <a href="javascript:void(0)" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <div id="gritter-notice-wrapper">
        <div id="gritter-item-1" class="gritter-item-wrapper my-sticky-class">
            <div class="gritter-top"></div>
            <div class="gritter-bottom"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/Scripts/jquery.scrollTo.min.js")
</body>
</html>
