<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>徽味驿站云平台</title>
    <link href="~/Images/logo.jpg" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="noprint navbar navbar-duomi navbar-static-top" role="navigation" style="min-height: 100px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="height: 90px; padding-left: 100px;" href="#" id="logo">徽味驿站云平台<br />
                    <br />
                    HUIWEI YIZHAN CLOUD PLATFORM
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="FootBox noprint">
            <div class="FootContent">
                <p>&copy; @DateTime.Now.Year - 徽味驿站版权所有</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/common")
</body>
</html>
