@using Webdiyer.WebControls.Mvc;
@using HWYZ.Models;
@using HWYZ.Context;
@model PagedList<Location>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <td>客户姓名</td>
                <td>客户电话</td>
                <td>客户地址</td>
                @if (UserContext.store == null)
                {
                    <td>所属门店</td>
                    <td>门店编号</td>
                    <td>门店负责人</td>
                    <td>门店电话</td>
                }
                <td>添加时间</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Location item in Model)
                {
                <tr>
                    <td>@item.Customer</td>
                    <td>@item.CustomerTel</td>
                    <td>@item.Address</td>
                    @if (UserContext.store == null)
                    {
                        <td>@item.Store.StoreName</td>
                        <td>@item.Store.StoreCode</td>
                        <td>@item.Store.Presider</td>
                        <td>@item.Store.Tel</td>
                    }
                    <td>@item.CreateTime</td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

@if (Model != null && Model.TotalPageCount > 1)
{
    <div style="height: 80px">
        <div style="float: left;">
            @Ajax.Pager(Model, new PagerOptions
       {
           CssClass = "pagination",
           ContainerTagName = "ul",
           PageIndexParameterName = "pi",
           CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
           DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
           PagerItemTemplate = "<li>{0}</li>",
           PageIndexBoxId = "pageIndexBox",
           GoToButtonId = "goToBtn"
       }, new MvcAjaxOptions { UpdateTargetId = "unseen", HttpMethod = "Post", DataFormId = "form_query" })
        </div>
        <div class="input-group" style="width: 260px;">
            <div class="input-group" style="margin: 20px;">
                <span class="input-group-addon">转到第</span>
                <input type="text" id="pageIndexBox" class="form-control input-sm" />
                <span class="input-group-addon">页</span>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm" id="goToBtn">跳转</button></span>
            </div>
        </div>
    </div>
}